In [3]:
#import numpy as np
#import pandas as pd
#import tensorflow as tf

## From SQL to DataFrame Pandas
#!pip install pyodbc # did not work in colaboratory
import pandas as pd
import pyodbc

#Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=True;
#Initial Catalog=pricing_archive;Data Source=w12pcgsql1;Use Procedure for Prepare=1;
#Auto Translate=True;Packet Size=4096;Workstation ID=PNMACPC788;
#Use Encryption for Data=False;Tag with column collation when possible=False

#CODE SNIPPETS FROM PNMAC SCRIPT
#credentials 
#sqlserver_db_engine_string = 'mssql+pyodbc://dwmssqlprod1/dw_credit_risk?driver=SQL+Server+Native+Client+11.0' # Change is applicable    
#sqlserver_db_engine = sqlalchemy.create_engine(sqlserver_db_engine_string)

#SQL = "SELECT TOP 1 UserId, CurrentPassword FROM srd.dbo.FHACaseQryUsrPswd WHERE UserId='MMH012' "
#conn = pyodbc.connect('DRIVER={SQL Server};SERVER={w08-vm-sql-3};DATABASE=dw_credit_risk;UID=;PWD=')
#cursor = conn.cursor()
#cursor.execute(SQL)
#credentials_dataset = cursor.fetchall()

#portion from web
#sql_conn = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};
                            #SERVER=SQLSERVER2017;
                            #DATABASE=Adventureworks;
                            #Trusted_Connection=yes') 

sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER={w12pcgsql1};DATABASE=pricing_archive;UID=;PWD=') 
sql_query = ("SELECT bbl.loannumber,bbl.[noteamount]\
    FROM pricing_archive..bulk_bid_loans bbl\
    join pricing_archive..bulk_bids bb on b.BulkBidID = bb.ID\
    join pricing_archive..bulk_bid_loans bbl on bb.ID = bbl.BulkBidID and bb.RowCurrentFlag = 'Yes' and bbl.RowCurrentFlag = 'Yes' and b.PricingMarginTokenID = bbl.PricingMarginTokenID\
where bb.BidDate >= convert(datetime,'8/06/2019')  AND bb.Source_type <> 'API M2M'  \
and (bb.Comment not like '%sub%' or bb.Comment is null)\
and bbl.MortgageTypeName = 'Conventional'\
and bbl.PricingError is null")
#cursor = conn.cursor()
#cursor.execute(sql_query)
df = pd.read_sql(sql_query, sql_conn)

df.head(3)

DatabaseError: Execution failed on sql 'SELECT bbl.loannumber,bbl.[noteamount]    FROM pricing_archive..bulk_bid_loans bbl    join pricing_archive..bulk_bids bb on b.BulkBidID = bb.ID    join pricing_archive..bulk_bid_loans bbl on bb.ID = bbl.BulkBidID and bb.RowCurrentFlag = 'Yes' and bbl.RowCurrentFlag = 'Yes' and b.PricingMarginTokenID = bbl.PricingMarginTokenIDwhere bb.BidDate >= convert(datetime,'8/06/2019')  AND bb.Source_type <> 'API M2M'  and (bb.Comment not like '%sub%' or bb.Comment is null)and bbl.MortgageTypeName = 'Conventional'and bbl.PricingError is null': ('42000', "[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Incorrect syntax near 'bb'. (102) (SQLExecDirectW)")