In [61]:
# -*- coding: utf-8 -*-
"""
Created on Thu Oct 17 17:02:37 2019

@author: jboyce
"""

import pandas as pd
import pyodbc
import time

In [62]:
#SQL settings, queries and df import

#clock starts to time how long the df import takes
start_tm = time.clock()

#set file location of sql query we want to import
sql_filename ='CRT_Bids Cumulative Tab_20191010.sql'
sql_path = r'M:\Capital Markets\Users\Johnathan Boyce\Misc\Programming\SQL'
sql_fileandpath = sql_path+"\\"+sql_filename


#connection configuration settings; connection == the connection to your database
sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER={w12pcgsql1};DATABASE=pricing_archive;UID=jboyce;Trusted_Connection=yes')

# define the opening of the filename and path of the sql file
query = open(sql_fileandpath)

#Read the sql file
df = pd.read_sql_query(query.read(),sql_conn)
sql_conn.close()

C:\Users\jboyce\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

In [63]:
#print out the run time, df shape, and df first five rows
print("\n")
print("Import Time (Using Time): " +str(time.clock()-start_tm))
print("Import Time (Using process_time): " +str(time.process_time()))
print("Import Time  (Using perf_counter): " +str(time.perf_counter()))
print("\n")
print("Top 5 rows\n" + str(df.head()) +"\n")
print("\n Number of rows: {}, Number of columns: {}".format(df.shape[0], df.shape[1]))


#analyze the df; create a scrub version of the df
df_scrub = df
print("\n Top 5 Rows for df_scrub \n" + str(df_scrub.head()) + "\n")

In [63]:
#check for number of nulls for each column
print("Total Count of Null Records \n" + str(df_scrub.isna().count()) + "\n")

In [63]:
#check the proportion of records that are missing
print("\n Total Percentage of Null Records \n" + str(df_scrub.isna().mean()) + "\n") #need to fix this to count or % of total using count or upb

Import Time (Using Time): 91.67909102799604
Import Time (Using process_time): 72.3376637
Import Time  (Using perf_counter): 105926.32849935


Top 5 rows
      BidDate            loannumber ClientCRTFlag PropertyTypeRM  noteamount  \
0  2019-08-06           HQ119321330            No            SFR    427500.0
1  2019-08-06           HQ119325227            No            SFR    217550.0
2  2019-08-06  CMCPD000000000190665           Yes            SFR     75400.0
3  2019-08-06  CMCPD000000000190748           Yes            SFR    221000.0
4  2019-08-06  CMCPD000000000190832           Yes            SFR    178000.0

  projectlegalstructuretypename  pudindicator  LtvRatioPercent  \
0                          None         False            79.02
1                          None         False            95.00
2                          None         False            76.00
3                          None         False            85.00
4                          None         False            78.00

   CltvRatioPercent  LoanLevelCreditScoreValue  ...  Trailing 7 Days  Today  \
0             79.02                      782.0  ...             None  FALSE
1             95.00                      784.0  ...             None  FALSE
2             76.00                      686.0  ...             None  FALSE
3             85.00                      780.0  ...             None  FALSE
4             78.00                      768.0  ...             None  FALSE

  TrueBidVolume  TR_7Dy_BidVolume TR_7Dy_WonAmount TR_30Dy_BidVolume  \
0      427500.0               NaN              NaN               NaN
1      217550.0               NaN              NaN               NaN
2       75400.0               NaN              NaN               NaN
3      221000.0               NaN              NaN               NaN
4      178000.0               NaN              NaN               NaN

  TR_30Dy_WonAmount LoanPurposeTypeName RefinanceCashoutDeterminationTypeName  \
0               NaN            Purchase                             NoCashOut
1               NaN            Purchase                             NoCashOut
2               NaN           Refinance                             NoCashOut
3               NaN            Purchase                             NoCashOut
4               NaN           Refinance                             NoCashOut

  Last10
0  FALSE
1  FALSE
2  FALSE
3  FALSE
4  FALSE

[5 rows x 47 columns]


 Number of rows: 289349, Number of columns: 47

C:\Users\jboyce\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  This is separate from the ipykernel package so we can avoid doing imports until

 Top 5 Rows for df_scrub
      BidDate            loannumber ClientCRTFlag PropertyTypeRM  noteamount  \
0  2019-08-06           HQ119321330            No            SFR    427500.0
1  2019-08-06           HQ119325227            No            SFR    217550.0
2  2019-08-06  CMCPD000000000190665           Yes            SFR     75400.0
3  2019-08-06  CMCPD000000000190748           Yes            SFR    221000.0
4  2019-08-06  CMCPD000000000190832           Yes            SFR    178000.0

  projectlegalstructuretypename  pudindicator  LtvRatioPercent  \
0                          None         False            79.02
1                          None         False            95.00
2                          None         False            76.00
3                          None         False            85.00
4                          None         False            78.00

   CltvRatioPercent  LoanLevelCreditScoreValue  ...  Trailing 7 Days  Today  \
0             79.02                      782.0  ...             None  FALSE
1             95.00                      784.0  ...             None  FALSE
2             76.00                      686.0  ...             None  FALSE
3             85.00                      780.0  ...             None  FALSE
4             78.00                      768.0  ...             None  FALSE

  TrueBidVolume  TR_7Dy_BidVolume TR_7Dy_WonAmount TR_30Dy_BidVolume  \
0      427500.0               NaN              NaN               NaN
1      217550.0               NaN              NaN               NaN
2       75400.0               NaN              NaN               NaN
3      221000.0               NaN              NaN               NaN
4      178000.0               NaN              NaN               NaN

  TR_30Dy_WonAmount LoanPurposeTypeName RefinanceCashoutDeterminationTypeName  \
0               NaN            Purchase                             NoCashOut
1               NaN            Purchase                             NoCashOut
2               NaN           Refinance                             NoCashOut
3               NaN            Purchase                             NoCashOut
4               NaN           Refinance                             NoCashOut

  Last10
0  FALSE
1  FALSE
2  FALSE
3  FALSE
4  FALSE

[5 rows x 47 columns]

Total Count of Null Records
BidDate                                  289349
loannumber                               289349
ClientCRTFlag                            289349
PropertyTypeRM                           289349
noteamount                               289349
projectlegalstructuretypename            289349
pudindicator                             289349
LtvRatioPercent                          289349
CltvRatioPercent                         289349
LoanLevelCreditScoreValue                289349
FinancedUnitCount                        289349
PropertyStateName                        289349
PropertyPostalCode                       289349
ClientId                                 289349
BidMonth                                 289349
BidWeek                                  289349
ClientName                               289349
MortgageTypeName                         289349
MtgIssuerTyp                             289349
CouponRt                                 289349
PricingCoupon                            289349
PricingPocPayup                          289349
NoteRate                                 289349
NoteRate_RND                             289349
BidVolume                                289349
BidVolumeAll                             289349
PricingLoanProgramName                   289349
FICO                                     289349
State                                    289349
LoanPurpose                              289349
WonAmount                                289349
Won_Bid                                  289349
ServicingStrip                           289349
CRTFlag                                  289349
NewCRTFLag                               289349
HB_Flag                                  289349
Trailing 30 Days                         289349
Trailing 7 Days                          289349
Today                                    289349
TrueBidVolume                            289349
TR_7Dy_BidVolume                         289349
TR_7Dy_WonAmount                         289349
TR_30Dy_BidVolume                        289349
TR_30Dy_WonAmount                        289349
LoanPurposeTypeName                      289349
RefinanceCashoutDeterminationTypeName    289349
Last10                                   289349
dtype: int64


 Total Count of Null Records
BidDate                                  0.000000
loannumber                               0.000000
ClientCRTFlag                            0.000000
PropertyTypeRM                           0.000000
noteamount                               0.000000
projectlegalstructuretypename            0.915828
pudindicator                             0.000000
LtvRatioPercent                          0.000000
CltvRatioPercent                         0.000000
LoanLevelCreditScoreValue                0.000000
FinancedUnitCount                        0.000000
PropertyStateName                        0.000000
PropertyPostalCode                       0.000449
ClientId                                 0.000000
BidMonth                                 0.000000
BidWeek                                  0.000000
ClientName                               0.000000
MortgageTypeName                         0.000000
MtgIssuerTyp                             0.000000
CouponRt                                 0.000000
PricingCoupon                            0.000000
PricingPocPayup                          0.000000
NoteRate                                 0.000000
NoteRate_RND                             0.000000
BidVolume                                0.975735
BidVolumeAll                             0.000000
PricingLoanProgramName                   0.000000
FICO                                     0.000000
State                                    0.000000
LoanPurpose                              0.000000
WonAmount                                0.975735
Won_Bid                                  0.000000
ServicingStrip                           0.000000
CRTFlag                                  0.000000
NewCRTFLag                               0.000000
HB_Flag                                  0.000000
Trailing 30 Days                         0.565148
Trailing 7 Days                          0.873246
Today                                    0.000000
TrueBidVolume                            0.000000
TR_7Dy_BidVolume                         0.897511
TR_7Dy_WonAmount                         0.897511
TR_30Dy_BidVolume                        0.589413
TR_30Dy_WonAmount                        0.589413
LoanPurposeTypeName                      0.000000
RefinanceCashoutDeterminationTypeName    0.000000
Last10                                   0.000000
dtype: float64

In [64]:
#df datatype summary
df_scrub.info()

#add categorical and non-categorical dfs
#df_scrub_cat=df_scrub[df_scrub[]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289349 entries, 0 to 289348
Data columns (total 47 columns):
BidDate                                  289349 non-null object
loannumber                               289349 non-null object
ClientCRTFlag                            289349 non-null object
PropertyTypeRM                           289349 non-null object
noteamount                               289349 non-null float64
projectlegalstructuretypename            24355 non-null object
pudindicator                             289349 non-null bool
LtvRatioPercent                          289349 non-null float64
CltvRatioPercent                         289349 non-null float64
LoanLevelCreditScoreValue                289349 non-null float64
FinancedUnitCount                        289349 non-null int64
PropertyStateName                        289349 non-null object
PropertyPostalCode                       289219 non-null object
ClientId                                 289349 non-null int64
BidMonth                                 289349 non-null object
BidWeek                                  289349 non-null object
ClientName                               289349 non-null object
MortgageTypeName                         289349 non-null object
MtgIssuerTyp                             289349 non-null object
CouponRt                                 289349 non-null object
PricingCoupon                            289349 non-null float64
PricingPocPayup                          289349 non-null float64
NoteRate                                 289349 non-null float64
NoteRate_RND                             289349 non-null float64
BidVolume                                7021 non-null float64
BidVolumeAll                             289349 non-null float64
PricingLoanProgramName                   289349 non-null object
FICO                                     289349 non-null float64
State                                    289349 non-null object
LoanPurpose                              289349 non-null object
WonAmount                                7021 non-null float64
Won_Bid                                  289349 non-null object
ServicingStrip                           289349 non-null float64
CRTFlag                                  289349 non-null object
NewCRTFLag                               289349 non-null object
HB_Flag                                  289349 non-null object
Trailing 30 Days                         125824 non-null object
Trailing 7 Days                          36676 non-null object
Today                                    289349 non-null object
TrueBidVolume                            289349 non-null float64
TR_7Dy_BidVolume                         29655 non-null float64
TR_7Dy_WonAmount                         29655 non-null float64
TR_30Dy_BidVolume                        118803 non-null float64
TR_30Dy_WonAmount                        118803 non-null float64
LoanPurposeTypeName                      289349 non-null object
RefinanceCashoutDeterminationTypeName    289349 non-null object
Last10                                   289349 non-null object
dtypes: bool(1), float64(18), int64(2), object(26)
memory usage: 101.8+ MB

In [65]:
#convert to datetime and confirm converted field
df_scrub['BidDate'] = pd.to_datetime(df_scrub['BidDate'])
df_scrub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289349 entries, 0 to 289348
Data columns (total 47 columns):
BidDate                                  289349 non-null datetime64[ns]
loannumber                               289349 non-null object
ClientCRTFlag                            289349 non-null object
PropertyTypeRM                           289349 non-null object
noteamount                               289349 non-null float64
projectlegalstructuretypename            24355 non-null object
pudindicator                             289349 non-null bool
LtvRatioPercent                          289349 non-null float64
CltvRatioPercent                         289349 non-null float64
LoanLevelCreditScoreValue                289349 non-null float64
FinancedUnitCount                        289349 non-null int64
PropertyStateName                        289349 non-null object
PropertyPostalCode                       289219 non-null object
ClientId                                 289349 non-null int64
BidMonth                                 289349 non-null object
BidWeek                                  289349 non-null object
ClientName                               289349 non-null object
MortgageTypeName                         289349 non-null object
MtgIssuerTyp                             289349 non-null object
CouponRt                                 289349 non-null object
PricingCoupon                            289349 non-null float64
PricingPocPayup                          289349 non-null float64
NoteRate                                 289349 non-null float64
NoteRate_RND                             289349 non-null float64
BidVolume                                7021 non-null float64
BidVolumeAll                             289349 non-null float64
PricingLoanProgramName                   289349 non-null object
FICO                                     289349 non-null float64
State                                    289349 non-null object
LoanPurpose                              289349 non-null object
WonAmount                                7021 non-null float64
Won_Bid                                  289349 non-null object
ServicingStrip                           289349 non-null float64
CRTFlag                                  289349 non-null object
NewCRTFLag                               289349 non-null object
HB_Flag                                  289349 non-null object
Trailing 30 Days                         125824 non-null object
Trailing 7 Days                          36676 non-null object
Today                                    289349 non-null object
TrueBidVolume                            289349 non-null float64
TR_7Dy_BidVolume                         29655 non-null float64
TR_7Dy_WonAmount                         29655 non-null float64
TR_30Dy_BidVolume                        118803 non-null float64
TR_30Dy_WonAmount                        118803 non-null float64
LoanPurposeTypeName                      289349 non-null object
RefinanceCashoutDeterminationTypeName    289349 non-null object
Last10                                   289349 non-null object
dtypes: bool(1), datetime64[ns](1), float64(18), int64(2), object(25)
memory usage: 101.8+ MB

In [66]:
#create list of features/columns to drop
drop_list=['loannumber',
           'projectlegalstructuretypename',
           'pudindicator',
           'MortgageTypeName',
           'MtgIssuerTyp',
           'CouponRt',
           'BidVolume',
           'PricingLoanProgramName',
           'WonAmount',
           'ServicingStrip',
           'Trailing 30 Days',
           'Trailing 7 Days',
           'Today',
           'TR_7Dy_BidVolume',
           'TR_7Dy_WonAmount',
           'TR_30Dy_BidVolume',
           'TR_30Dy_WonAmount',
           'Last10']

In [67]:
#drop features / columns not needed
df_scrub_drpd = df_scrub.drop(drop_list, axis=1)
df_scrub_drpd.head()

,BidDate,ClientCRTFlag,PropertyTypeRM,noteamount,LtvRatioPercent,CltvRatioPercent,LoanLevelCreditScoreValue,FinancedUnitCount,PropertyStateName,PropertyPostalCode,...,FICO,State,LoanPurpose,Won_Bid,CRTFlag,NewCRTFLag,HB_Flag,TrueBidVolume,LoanPurposeTypeName,RefinanceCashoutDeterminationTypeName
0,2019-08-06,No,SFR,427500.0,79.02,79.02,782.0,1,TX,76008,...,782.0,TX,PrimaryResidence,FALSE,Y,Yes,N,427500.0,Purchase,NoCashOut
1,2019-08-06,No,SFR,217550.0,95.00,95.00,784.0,1,FL,32043,...,784.0,FL,PrimaryResidence,FALSE,Y,Yes,N,217550.0,Purchase,NoCashOut
2,2019-08-06,Yes,SFR,75400.0,76.00,76.00,686.0,1,KY,42602,...,686.0,KY,PrimaryResidence,FALSE,N,Yes,N,75400.0,Refinance,NoCashOut
3,2019-08-06,Yes,SFR,221000.0,85.00,85.00,780.0,1,KY,41076,...,780.0,KY,PrimaryResidence,FALSE,Y,Yes,N,221000.0,Purchase,NoCashOut
4,2019-08-06,Yes,SFR,178000.0,78.00,78.00,768.0,1,KY,40241,...,768.0,KY,PrimaryResidence,FALSE,N,Yes,N,178000.0,Refinance,NoCashOut

In [68]:
df_scrub_drpd.shape

(289349, 29)

In [88]:
df_scrub_drpd.index

RangeIndex(start=0, stop=289349, step=1)

In [86]:
#create df of numbers and booleans
#lost index during this step
df_scrub_drpd_nums = df_scrub_drpd.select_dtypes(exclude='object') #.reset_index()
df_scrub_drpd_nums.shape

(289349, 14)

In [87]:
df_scrub_drpd_nums.head()

,BidDate,noteamount,LtvRatioPercent,CltvRatioPercent,LoanLevelCreditScoreValue,FinancedUnitCount,ClientId,PricingCoupon,PricingPocPayup,NoteRate,NoteRate_RND,BidVolumeAll,FICO,TrueBidVolume
0,2019-08-06,427500.0,79.02,79.02,782.0,1,700385,3.000,0.0,3.750,3.750,427500.0,782.0,427500.0
1,2019-08-06,217550.0,95.00,95.00,784.0,1,700385,3.000,0.0,3.875,3.875,217550.0,784.0,217550.0
2,2019-08-06,75400.0,76.00,76.00,686.0,1,700168,3.750,0.0,4.000,4.000,75400.0,686.0,75400.0
3,2019-08-06,221000.0,85.00,85.00,780.0,1,700168,3.000,0.0,4.000,4.000,221000.0,780.0,221000.0
4,2019-08-06,178000.0,78.00,78.00,768.0,1,700168,3.625,0.0,3.875,3.875,178000.0,768.0,178000.0

In [91]:
#df_scrub_drpd_nums.iloc[:,0].name
#df_scrub_drpd_nums.index[1]

1

In [70]:
#create df of categorical objects
df_scrub_drpd_cat = df_scrub_drpd.select_dtypes(include='object')
df_scrub_drpd_cat.shape

(289349, 15)

In [95]:
#create one hot encoding for categorical features
df_scrub_onehot = pd.get_dummies(df_scrub_drpd[['PropertyTypeRM','LoanPurpose','LoanPurposeTypeName','RefinanceCashoutDeterminationTypeName','State']], prefix="", prefix_sep="")
df_scrub_onehot.head()

,2 Unit,3 Unit,4 Unit,Condo,PUD,SFR,Investment,PrimaryResidence,SecondHome,Purchase,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,0,0,0,0,0,1,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
#scale the non one hot fields (nums)
import numpy as np
from sklearn.preprocessing import StandardScaler

X = df_scrub_drpd_nums.values[:,1:] #skipped BidDate since values cannot be timestamp
X = np.nan_to_num(X)
cluster_dataset = StandardScaler().fit_transform(X)
cluster_dataset[:2]

array([[ 1.12151683,  0.18010749,  0.16460267,  0.7202535 , -0.11600573,
        -0.31933814, -0.33647217, -0.30427091, -0.38251327, -0.38403461,
         1.12151683,  0.7202535 ,  1.12151683],
       [-0.47907413,  1.18484549,  1.17068929,  0.7669925 , -0.11600573,
        -0.31933814, -0.33647217, -0.30427091, -0.11662746, -0.11821947,
        -0.47907413,  0.7669925 , -0.47907413]])

In [99]:
#df_scrub_drpd_nums.columns

Index(['BidDate', 'noteamount', 'LtvRatioPercent', 'CltvRatioPercent',
       'LoanLevelCreditScoreValue', 'FinancedUnitCount', 'ClientId',
       'PricingCoupon', 'PricingPocPayup', 'NoteRate', 'NoteRate_RND',
       'BidVolumeAll', 'FICO', 'TrueBidVolume'],
      dtype='object')

In [107]:
#re-create the df (without bid date) to include the scaled/transformed data
df_scrub_drpd_nums_scaled = pd.DataFrame(
    cluster_dataset,
     index=list(df_scrub_drpd_nums.index),
     columns=df_scrub_drpd_nums.columns[1:])
df_scrub_drpd_nums_scaled.head() #WORKED...NOW NEED TO ADD ONE HOT AFTER TRANSFORMED

,noteamount,LtvRatioPercent,CltvRatioPercent,LoanLevelCreditScoreValue,FinancedUnitCount,ClientId,PricingCoupon,PricingPocPayup,NoteRate,NoteRate_RND,BidVolumeAll,FICO,TrueBidVolume
0,1.121517,0.180107,0.164603,0.720253,-0.116006,-0.319338,-0.336472,-0.304271,-0.382513,-0.384035,1.121517,0.720253,1.121517
1,-0.479074,1.184845,1.170689,0.766992,-0.116006,-0.319338,-0.336472,-0.304271,-0.116627,-0.118219,-0.479074,0.766992,-0.479074
2,-1.562780,-0.009774,-0.025534,-1.523218,-0.116006,-0.838515,0.932594,-0.304271,0.149258,0.147596,-1.562780,-1.523218,-1.562780
3,-0.452772,0.556098,0.541098,0.673515,-0.116006,-0.838515,-0.336472,-0.304271,0.149258,0.147596,-0.452772,0.673515,-0.452772
4,-0.780591,0.115975,0.100384,0.393081,-0.116006,-0.838515,0.721083,-0.304271,-0.116627,-0.118219,-0.780591,0.393081,-0.780591

In [106]:
#scale the one hot fields
X_onehot = df_scrub_onehot.values
X_onehot = np.nan_to_num(X_onehot)
cluster_dataset_onehot = StandardScaler().fit_transform(X_onehot)
cluster_dataset_onehot[:2]

array([[-0.10923689, -0.05145289, -0.04663808, -0.3031493 , -0.62897524,
         0.78993421, -0.26589346,  0.34512178, -0.20518773,  0.95769697,
        -0.95769697, -0.45944633,  0.45944633, -0.0172426 , -0.10437097,
        -0.08170929, -0.22876861, -0.37607138, -0.21743258, -0.07302948,
        -0.05971156, -0.07536067, -0.26254009, -0.19513887, -0.04181326,
        -0.09087598, -0.09027481, -0.18236348, -0.14724164, -0.07257371,
        -0.10247648, -0.09647026, -0.15819088, -0.16676255, -0.05838546,
        -0.15919798, -0.15803013, -0.13654453, -0.05675383, -0.05894896,
        -0.18318131, -0.02649656, -0.05453528, -0.06774841, -0.16837568,
        -0.06592237, -0.127689  , -0.12146626, -0.14328503, -0.06702386,
        -0.13746089, -0.16038084, -0.06135072, -0.13288786, -0.04222595,
        -0.1597449 ,  3.1532831 , -0.18437709, -0.19983353, -0.02556594,
        -0.16809329, -0.10129913, -0.03972957, -0.03095543],
       [-0.10923689, -0.05145289, -0.04663808, -0.3031493 , -0.62897524,
         0.78993421, -0.26589346,  0.34512178, -0.20518773,  0.95769697,
        -0.95769697, -0.45944633,  0.45944633, -0.0172426 , -0.10437097,
        -0.08170929, -0.22876861, -0.37607138, -0.21743258, -0.07302948,
        -0.05971156, -0.07536067,  3.80894204, -0.19513887, -0.04181326,
        -0.09087598, -0.09027481, -0.18236348, -0.14724164, -0.07257371,
        -0.10247648, -0.09647026, -0.15819088, -0.16676255, -0.05838546,
        -0.15919798, -0.15803013, -0.13654453, -0.05675383, -0.05894896,
        -0.18318131, -0.02649656, -0.05453528, -0.06774841, -0.16837568,
        -0.06592237, -0.127689  , -0.12146626, -0.14328503, -0.06702386,
        -0.13746089, -0.16038084, -0.06135072, -0.13288786, -0.04222595,
        -0.1597449 , -0.31712979, -0.18437709, -0.19983353, -0.02556594,
        -0.16809329, -0.10129913, -0.03972957, -0.03095543]])

In [ ]:
#add columns back to scaled one hot fields