In [108]:
# -*- coding: utf-8 -*-
"""
Created on Thu Oct 17 17:02:37 2019

@author: jboyce
"""

import pandas as pd
import pyodbc
import time

In [109]:
#SQL settings, queries and df import

#clock starts to time how long the df import takes
start_tm = time.clock()

#set file location of sql query we want to import
sql_filename ='CRT_Bids Cumulative Tab_20191010.sql'
sql_path = r'M:\Capital Markets\Users\Johnathan Boyce\Misc\Programming\SQL'
sql_fileandpath = sql_path+"\\"+sql_filename


#connection configuration settings; connection == the connection to your database
sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER={w12pcgsql1};DATABASE=pricing_archive;UID=jboyce;Trusted_Connection=yes')

# define the opening of the filename and path of the sql file
query = open(sql_fileandpath)

#Read the sql file
df = pd.read_sql_query(query.read(),sql_conn)
sql_conn.close()

C:\Users\jboyce\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

In [110]:
#print out the run time, df shape, and df first five rows
print("\n")
print("Import Time (Using Time): " +str(time.clock()-start_tm))
print("Import Time (Using process_time): " +str(time.process_time()))
print("Import Time  (Using perf_counter): " +str(time.perf_counter()))
print("\n")
print("Top 5 rows\n" + str(df.head()) +"\n")
print("\n Number of rows: {}, Number of columns: {}".format(df.shape[0], df.shape[1]))


#analyze the df; create a scrub version of the df
df_scrub = df
print("\n Top 5 Rows for df_scrub \n" + str(df_scrub.head()) + "\n")

Import Time (Using Time): 220.5756253299769
Import Time (Using process_time): 109.5283021
Import Time  (Using perf_counter): 276773.758273996

C:\Users\jboyce\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  This is separate from the ipykernel package so we can avoid doing imports until

Top 5 rows
      BidDate  loannumber ClientCRTFlag PropertyTypeRM  noteamount  \
0  2019-08-06  3119062125            No            SFR    483000.0
1  2019-08-06  3119062173            No            SFR    672000.0
2  2019-08-06  3119062177            No            SFR    126862.0
3  2019-08-06  3119062202            No            SFR    460000.0
4  2019-08-06   321918490            No            SFR    100605.0

  projectlegalstructuretypename  pudindicator  LtvRatioPercent  \
0                          None         False           75.469
1                          None         False           80.000
2                          None         False           43.004
3                          None         False           63.889
4                          None         False           95.000

   CltvRatioPercent  LoanLevelCreditScoreValue  ...  Trailing 7 Days  Today  \
0            75.469                      738.0  ...             None  FALSE
1            80.000                      779.0  ...             None  FALSE
2            43.004                      728.0  ...             None  FALSE
3            63.889                      788.0  ...             None  FALSE
4            95.000                      730.0  ...             None  FALSE

  TrueBidVolume  TR_7Dy_BidVolume TR_7Dy_WonAmount TR_30Dy_BidVolume  \
0      483000.0               NaN              NaN               NaN
1      672000.0               NaN              NaN               NaN
2      126862.0               NaN              NaN               NaN
3      460000.0               NaN              NaN               NaN
4      100605.0               NaN              NaN               NaN

  TR_30Dy_WonAmount LoanPurposeTypeName RefinanceCashoutDeterminationTypeName  \
0               NaN           Refinance                             NoCashOut
1               NaN            Purchase                             NoCashOut
2               NaN            Purchase                             NoCashOut
3               NaN            Purchase                             NoCashOut
4               NaN            Purchase                             NoCashOut

  Last10
0  FALSE
1  FALSE
2  FALSE
3  FALSE
4  FALSE

[5 rows x 47 columns]


 Number of rows: 302190, Number of columns: 47

 Top 5 Rows for df_scrub
      BidDate  loannumber ClientCRTFlag PropertyTypeRM  noteamount  \
0  2019-08-06  3119062125            No            SFR    483000.0
1  2019-08-06  3119062173            No            SFR    672000.0
2  2019-08-06  3119062177            No            SFR    126862.0
3  2019-08-06  3119062202            No            SFR    460000.0
4  2019-08-06   321918490            No            SFR    100605.0

  projectlegalstructuretypename  pudindicator  LtvRatioPercent  \
0                          None         False           75.469
1                          None         False           80.000
2                          None         False           43.004
3                          None         False           63.889
4                          None         False           95.000

   CltvRatioPercent  LoanLevelCreditScoreValue  ...  Trailing 7 Days  Today  \
0            75.469                      738.0  ...             None  FALSE
1            80.000                      779.0  ...             None  FALSE
2            43.004                      728.0  ...             None  FALSE
3            63.889                      788.0  ...             None  FALSE
4            95.000                      730.0  ...             None  FALSE

  TrueBidVolume  TR_7Dy_BidVolume TR_7Dy_WonAmount TR_30Dy_BidVolume  \
0      483000.0               NaN              NaN               NaN
1      672000.0               NaN              NaN               NaN
2      126862.0               NaN              NaN               NaN
3      460000.0               NaN              NaN               NaN
4      100605.0               NaN              NaN               NaN

  TR_30Dy_WonAmount LoanPurposeTypeName RefinanceCashoutDeterminationTypeName  \
0               NaN           Refinance                             NoCashOut
1               NaN            Purchase                             NoCashOut
2               NaN            Purchase                             NoCashOut
3               NaN            Purchase                             NoCashOut
4               NaN            Purchase                             NoCashOut

  Last10
0  FALSE
1  FALSE
2  FALSE
3  FALSE
4  FALSE

[5 rows x 47 columns]

In [111]:
#check for number of nulls for each column
print("Total Count of Null Records \n" + str(df_scrub.isna().count()) + "\n")

Total Count of Null Records
BidDate                                  302190
loannumber                               302190
ClientCRTFlag                            302190
PropertyTypeRM                           302190
noteamount                               302190
projectlegalstructuretypename            302190
pudindicator                             302190
LtvRatioPercent                          302190
CltvRatioPercent                         302190
LoanLevelCreditScoreValue                302190
FinancedUnitCount                        302190
PropertyStateName                        302190
PropertyPostalCode                       302190
ClientId                                 302190
BidMonth                                 302190
BidWeek                                  302190
ClientName                               302190
MortgageTypeName                         302190
MtgIssuerTyp                             302190
CouponRt                                 302190
PricingCoupon                            302190
PricingPocPayup                          302190
NoteRate                                 302190
NoteRate_RND                             302190
BidVolume                                302190
BidVolumeAll                             302190
PricingLoanProgramName                   302190
FICO                                     302190
State                                    302190
LoanPurpose                              302190
WonAmount                                302190
Won_Bid                                  302190
ServicingStrip                           302190
CRTFlag                                  302190
NewCRTFLag                               302190
HB_Flag                                  302190
Trailing 30 Days                         302190
Trailing 7 Days                          302190
Today                                    302190
TrueBidVolume                            302190
TR_7Dy_BidVolume                         302190
TR_7Dy_WonAmount                         302190
TR_30Dy_BidVolume                        302190
TR_30Dy_WonAmount                        302190
LoanPurposeTypeName                      302190
RefinanceCashoutDeterminationTypeName    302190
Last10                                   302190
dtype: int64

In [112]:
#check the proportion of records that are missing
print("\n Total Percentage of Null Records \n" + str(df_scrub.isna().mean()) + "\n") #need to fix this to count or % of total using count or upb

 Total Percentage of Null Records
BidDate                                  0.000000
loannumber                               0.000000
ClientCRTFlag                            0.000000
PropertyTypeRM                           0.000000
noteamount                               0.000000
projectlegalstructuretypename            0.915901
pudindicator                             0.000000
LtvRatioPercent                          0.000000
CltvRatioPercent                         0.000000
LoanLevelCreditScoreValue                0.000000
FinancedUnitCount                        0.000000
PropertyStateName                        0.000000
PropertyPostalCode                       0.000453
ClientId                                 0.000000
BidMonth                                 0.000000
BidWeek                                  0.000000
ClientName                               0.000000
MortgageTypeName                         0.000000
MtgIssuerTyp                             0.000000
CouponRt                                 0.000000
PricingCoupon                            0.000000
PricingPocPayup                          0.000000
NoteRate                                 0.000000
NoteRate_RND                             0.000000
BidVolume                                0.979053
BidVolumeAll                             0.000000
PricingLoanProgramName                   0.000000
FICO                                     0.000000
State                                    0.000000
LoanPurpose                              0.000000
WonAmount                                0.979053
Won_Bid                                  0.000000
ServicingStrip                           0.000000
CRTFlag                                  0.000000
NewCRTFLag                               0.000000
HB_Flag                                  0.000000
Trailing 30 Days                         0.555154
Trailing 7 Days                          0.888438
Today                                    0.000000
TrueBidVolume                            0.000000
TR_7Dy_BidVolume                         0.909385
TR_7Dy_WonAmount                         0.909385
TR_30Dy_BidVolume                        0.576101
TR_30Dy_WonAmount                        0.576101
LoanPurposeTypeName                      0.000000
RefinanceCashoutDeterminationTypeName    0.000000
Last10                                   0.000000
dtype: float64

In [113]:
#df datatype summary
df_scrub.info()

#add categorical and non-categorical dfs
#df_scrub_cat=df_scrub[df_scrub[]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302190 entries, 0 to 302189
Data columns (total 47 columns):
BidDate                                  302190 non-null object
loannumber                               302190 non-null object
ClientCRTFlag                            302190 non-null object
PropertyTypeRM                           302190 non-null object
noteamount                               302190 non-null float64
projectlegalstructuretypename            25414 non-null object
pudindicator                             302190 non-null bool
LtvRatioPercent                          302190 non-null float64
CltvRatioPercent                         302190 non-null float64
LoanLevelCreditScoreValue                302190 non-null float64
FinancedUnitCount                        302190 non-null int64
PropertyStateName                        302190 non-null object
PropertyPostalCode                       302053 non-null object
ClientId                                 302190 non-null int64
BidMonth                                 302190 non-null object
BidWeek                                  302190 non-null object
ClientName                               302190 non-null object
MortgageTypeName                         302190 non-null object
MtgIssuerTyp                             302190 non-null object
CouponRt                                 302190 non-null object
PricingCoupon                            302190 non-null float64
PricingPocPayup                          302190 non-null float64
NoteRate                                 302190 non-null float64
NoteRate_RND                             302190 non-null float64
BidVolume                                6330 non-null float64
BidVolumeAll                             302190 non-null float64
PricingLoanProgramName                   302190 non-null object
FICO                                     302190 non-null float64
State                                    302190 non-null object
LoanPurpose                              302190 non-null object
WonAmount                                6330 non-null float64
Won_Bid                                  302190 non-null object
ServicingStrip                           302190 non-null float64
CRTFlag                                  302190 non-null object
NewCRTFLag                               302190 non-null object
HB_Flag                                  302190 non-null object
Trailing 30 Days                         134428 non-null object
Trailing 7 Days                          33713 non-null object
Today                                    302190 non-null object
TrueBidVolume                            302190 non-null float64
TR_7Dy_BidVolume                         27383 non-null float64
TR_7Dy_WonAmount                         27383 non-null float64
TR_30Dy_BidVolume                        128098 non-null float64
TR_30Dy_WonAmount                        128098 non-null float64
LoanPurposeTypeName                      302190 non-null object
RefinanceCashoutDeterminationTypeName    302190 non-null object
Last10                                   302190 non-null object
dtypes: bool(1), float64(18), int64(2), object(26)
memory usage: 106.3+ MB

In [114]:
#convert to datetime and confirm converted field
df_scrub['BidDate'] = pd.to_datetime(df_scrub['BidDate'])
df_scrub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302190 entries, 0 to 302189
Data columns (total 47 columns):
BidDate                                  302190 non-null datetime64[ns]
loannumber                               302190 non-null object
ClientCRTFlag                            302190 non-null object
PropertyTypeRM                           302190 non-null object
noteamount                               302190 non-null float64
projectlegalstructuretypename            25414 non-null object
pudindicator                             302190 non-null bool
LtvRatioPercent                          302190 non-null float64
CltvRatioPercent                         302190 non-null float64
LoanLevelCreditScoreValue                302190 non-null float64
FinancedUnitCount                        302190 non-null int64
PropertyStateName                        302190 non-null object
PropertyPostalCode                       302053 non-null object
ClientId                                 302190 non-null int64
BidMonth                                 302190 non-null object
BidWeek                                  302190 non-null object
ClientName                               302190 non-null object
MortgageTypeName                         302190 non-null object
MtgIssuerTyp                             302190 non-null object
CouponRt                                 302190 non-null object
PricingCoupon                            302190 non-null float64
PricingPocPayup                          302190 non-null float64
NoteRate                                 302190 non-null float64
NoteRate_RND                             302190 non-null float64
BidVolume                                6330 non-null float64
BidVolumeAll                             302190 non-null float64
PricingLoanProgramName                   302190 non-null object
FICO                                     302190 non-null float64
State                                    302190 non-null object
LoanPurpose                              302190 non-null object
WonAmount                                6330 non-null float64
Won_Bid                                  302190 non-null object
ServicingStrip                           302190 non-null float64
CRTFlag                                  302190 non-null object
NewCRTFLag                               302190 non-null object
HB_Flag                                  302190 non-null object
Trailing 30 Days                         134428 non-null object
Trailing 7 Days                          33713 non-null object
Today                                    302190 non-null object
TrueBidVolume                            302190 non-null float64
TR_7Dy_BidVolume                         27383 non-null float64
TR_7Dy_WonAmount                         27383 non-null float64
TR_30Dy_BidVolume                        128098 non-null float64
TR_30Dy_WonAmount                        128098 non-null float64
LoanPurposeTypeName                      302190 non-null object
RefinanceCashoutDeterminationTypeName    302190 non-null object
Last10                                   302190 non-null object
dtypes: bool(1), datetime64[ns](1), float64(18), int64(2), object(25)
memory usage: 106.3+ MB

In [156]:
#create list of features/columns to drop
drop_list=['loannumber',
           'projectlegalstructuretypename',
           'pudindicator',
           'MortgageTypeName',
           'MtgIssuerTyp',
           'CouponRt',
           'BidVolume',
           'PricingLoanProgramName',
           'WonAmount',
           'ServicingStrip',
           'Trailing 30 Days',
           'Trailing 7 Days',
           'Today',
           'TR_7Dy_BidVolume',
           'TR_7Dy_WonAmount',
           'TR_30Dy_BidVolume',
           'TR_30Dy_WonAmount',
           'Last10',
           'CRTFlag',
           'ClientCRTFlag',
           'ClientId',
           'ClientName',
           'BidDate',
           'BidMonth',
           'BidWeek',
           'PropertyStateName'] #just added removal of CRTFlag and ClientID

In [157]:
#drop features / columns not needed
df_scrub_drpd = df_scrub.drop(drop_list, axis=1)
df_scrub_drpd.head()

,PropertyTypeRM,noteamount,LtvRatioPercent,CltvRatioPercent,LoanLevelCreditScoreValue,FinancedUnitCount,PropertyPostalCode,PricingCoupon,PricingPocPayup,NoteRate,...,BidVolumeAll,FICO,State,LoanPurpose,Won_Bid,NewCRTFLag,HB_Flag,TrueBidVolume,LoanPurposeTypeName,RefinanceCashoutDeterminationTypeName
0,SFR,483000.0,75.469,75.469,738.0,1,22204,3.00,0.0,3.875,...,483000.0,738.0,VA,PrimaryResidence,FALSE,Yes,N,483000.0,Refinance,NoCashOut
1,SFR,672000.0,80.000,80.000,779.0,1,20147,3.00,0.0,3.875,...,672000.0,779.0,VA,PrimaryResidence,FALSE,Yes,Y,672000.0,Purchase,NoCashOut
2,SFR,126862.0,43.004,43.004,728.0,1,27616,4.00,0.0,4.250,...,126862.0,728.0,NC,Investment,FALSE,No,N,126862.0,Purchase,NoCashOut
3,SFR,460000.0,63.889,63.889,788.0,1,20105,2.50,0.0,3.125,...,460000.0,788.0,VA,PrimaryResidence,FALSE,No,N,460000.0,Purchase,NoCashOut
4,SFR,100605.0,95.000,95.000,730.0,1,42301,3.75,0.0,4.000,...,100605.0,730.0,KY,PrimaryResidence,FALSE,Yes,N,100605.0,Purchase,NoCashOut

In [158]:
df_scrub_drpd.shape

(302190, 21)

In [159]:
df_scrub_drpd.columns

Index(['PropertyTypeRM', 'noteamount', 'LtvRatioPercent', 'CltvRatioPercent',
       'LoanLevelCreditScoreValue', 'FinancedUnitCount', 'PropertyPostalCode',
       'PricingCoupon', 'PricingPocPayup', 'NoteRate', 'NoteRate_RND',
       'BidVolumeAll', 'FICO', 'State', 'LoanPurpose', 'Won_Bid', 'NewCRTFLag',
       'HB_Flag', 'TrueBidVolume', 'LoanPurposeTypeName',
       'RefinanceCashoutDeterminationTypeName'],
      dtype='object')

In [160]:
df_scrub_drpd.index

RangeIndex(start=0, stop=302190, step=1)

In [161]:
#create df of numbers and booleans
#lost index during this step
df_scrub_drpd_nums = df_scrub_drpd.select_dtypes(exclude='object') #.reset_index()
df_scrub_drpd_nums.shape

(302190, 12)

In [162]:
#probably should delete ClientId (not a real number)
df_scrub_drpd_nums.head()

,noteamount,LtvRatioPercent,CltvRatioPercent,LoanLevelCreditScoreValue,FinancedUnitCount,PricingCoupon,PricingPocPayup,NoteRate,NoteRate_RND,BidVolumeAll,FICO,TrueBidVolume
0,483000.0,75.469,75.469,738.0,1,3.00,0.0,3.875,3.875,483000.0,738.0,483000.0
1,672000.0,80.000,80.000,779.0,1,3.00,0.0,3.875,3.875,672000.0,779.0,672000.0
2,126862.0,43.004,43.004,728.0,1,4.00,0.0,4.250,4.250,126862.0,728.0,126862.0
3,460000.0,63.889,63.889,788.0,1,2.50,0.0,3.125,3.125,460000.0,788.0,460000.0
4,100605.0,95.000,95.000,730.0,1,3.75,0.0,4.000,4.000,100605.0,730.0,100605.0

In [163]:
#df_scrub_drpd_nums.iloc[:,0].name
#df_scrub_drpd_nums.index[1]

In [164]:
#create df of categorical objects
df_scrub_drpd_cat = df_scrub_drpd.select_dtypes(include='object')
df_scrub_drpd_cat.shape

(302190, 9)

In [165]:
#create one hot encoding for categorical features
df_scrub_onehot = pd.get_dummies(df_scrub_drpd[['PropertyTypeRM','LoanPurpose','LoanPurposeTypeName','RefinanceCashoutDeterminationTypeName','State']], prefix="", prefix_sep="")
df_scrub_onehot.head()

,2 Unit,3 Unit,4 Unit,Condo,PUD,SFR,Investment,PrimaryResidence,SecondHome,Purchase,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,1,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [174]:
#scale the non one hot fields (nums)
import numpy as np
from sklearn.preprocessing import StandardScaler

X1 = df_scrub_drpd_nums.values #[:,1:]  skipped BidDate since values cannot be timestamp
X1 = np.nan_to_num(X1)
cluster_dataset = StandardScaler().fit_transform(X1)
cluster_dataset[:2]

array([[ 1.54486849, -0.04111428, -0.05692582, -0.30835428, -0.11609787,
        -0.33876079, -0.29906022, -0.11172349, -0.11331362,  1.54486849,
        -0.30835428,  1.54486849],
       [ 2.98602512,  0.24381881,  0.22841529,  0.65007716, -0.11609787,
        -0.33876079, -0.29906022, -0.11172349, -0.11331362,  2.98602512,
         0.65007716,  2.98602512]])

In [175]:
#df_scrub_drpd_nums.columns

In [176]:
#re-create the df (without bid date) to include the scaled/transformed data
df_scrub_drpd_nums_scaled = pd.DataFrame(
    cluster_dataset,
     index=list(df_scrub_drpd_nums.index),
     columns=df_scrub_drpd_nums.columns)
df_scrub_drpd_nums_scaled.head() #WORKED...NOW NEED TO ADD ONE HOT AFTER TRANSFORMED

,noteamount,LtvRatioPercent,CltvRatioPercent,LoanLevelCreditScoreValue,FinancedUnitCount,PricingCoupon,PricingPocPayup,NoteRate,NoteRate_RND,BidVolumeAll,FICO,TrueBidVolume
0,1.544868,-0.041114,-0.056926,-0.308354,-0.116098,-0.338761,-0.29906,-0.111723,-0.113314,1.544868,-0.308354,1.544868
1,2.986025,0.243819,0.228415,0.650077,-0.116098,-0.338761,-0.29906,-0.111723,-0.113314,2.986025,0.650077,2.986025
2,-1.170743,-2.082684,-2.101419,-0.542118,-0.116098,1.355727,-0.29906,0.685383,0.683574,-1.170743,-0.542118,-1.170743
3,1.369490,-0.769326,-0.786180,0.860465,-0.116098,-1.186004,-0.29906,-1.705937,-1.707088,1.369490,0.860465,1.369490
4,-1.370957,1.187098,1.173045,-0.495365,-0.116098,0.932105,-0.29906,0.153979,0.152315,-1.370957,-0.495365,-1.370957

In [169]:
#scale the one hot fields
X_onehot = df_scrub_onehot.values
X_onehot = np.nan_to_num(X_onehot)
cluster_dataset_onehot = StandardScaler().fit_transform(X_onehot)
cluster_dataset_onehot[:2]

array([[-0.10947828, -0.051034  , -0.04706832, -0.30300768, -0.62948762,
         0.79044826, -0.26625779,  0.34536974, -0.20510198, -1.03937276,
         1.03937276, -0.46133002,  0.46133002, -0.01706729, -0.104866  ,
        -0.08156217, -0.22778485, -0.37558356, -0.21794389, -0.0726594 ,
        -0.05991713, -0.075571  , -0.26241029, -0.19501971, -0.04175718,
        -0.09083566, -0.09087269, -0.18179798, -0.14845129, -0.07254425,
        -0.10306103, -0.09574424, -0.15750277, -0.16745886, -0.05839618,
        -0.15980449, -0.15766818, -0.13616645, -0.05698142, -0.06002828,
        -0.18343304, -0.02624467, -0.05401159, -0.06726191, -0.16915336,
        -0.06575602, -0.12836979, -0.12135818, -0.1434133 , -0.06718741,
        -0.13732166, -0.16158147, -0.06074588, -0.132218  , -0.0418763 ,
        -0.16026126, -0.31684265, -0.1839432 ,  5.01882236, -0.02567022,
        -0.168126  , -0.10179094, -0.03925734, -0.03088611],
       [-0.10947828, -0.051034  , -0.04706832, -0.30300768, -0.62948762,
         0.79044826, -0.26625779,  0.34536974, -0.20510198,  0.96211873,
        -0.96211873, -0.46133002,  0.46133002, -0.01706729, -0.104866  ,
        -0.08156217, -0.22778485, -0.37558356, -0.21794389, -0.0726594 ,
        -0.05991713, -0.075571  , -0.26241029, -0.19501971, -0.04175718,
        -0.09083566, -0.09087269, -0.18179798, -0.14845129, -0.07254425,
        -0.10306103, -0.09574424, -0.15750277, -0.16745886, -0.05839618,
        -0.15980449, -0.15766818, -0.13616645, -0.05698142, -0.06002828,
        -0.18343304, -0.02624467, -0.05401159, -0.06726191, -0.16915336,
        -0.06575602, -0.12836979, -0.12135818, -0.1434133 , -0.06718741,
        -0.13732166, -0.16158147, -0.06074588, -0.132218  , -0.0418763 ,
        -0.16026126, -0.31684265, -0.1839432 ,  5.01882236, -0.02567022,
        -0.168126  , -0.10179094, -0.03925734, -0.03088611]])

In [170]:
#add columns back to scaled one hot fields
#re-create the df (without bid date) to include the scaled/transformed data
df_scrub_drpd_onehot_scaled = pd.DataFrame(
    cluster_dataset_onehot,
     index=list(df_scrub_onehot.index),
     columns=df_scrub_onehot.columns)
df_scrub_drpd_onehot_scaled.head() #WORKED...NOW NEED TO ADD ONE HOT AFTER TRANSFORMED

,2 Unit,3 Unit,4 Unit,Condo,PUD,SFR,Investment,PrimaryResidence,SecondHome,Purchase,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,-0.109478,-0.051034,-0.047068,-0.303008,-0.629488,0.790448,-0.266258,0.345370,-0.205102,-1.039373,...,-0.041876,-0.160261,-0.316843,-0.183943,5.018822,-0.02567,-0.168126,-0.101791,-0.039257,-0.030886
1,-0.109478,-0.051034,-0.047068,-0.303008,-0.629488,0.790448,-0.266258,0.345370,-0.205102,0.962119,...,-0.041876,-0.160261,-0.316843,-0.183943,5.018822,-0.02567,-0.168126,-0.101791,-0.039257,-0.030886
2,-0.109478,-0.051034,-0.047068,-0.303008,-0.629488,0.790448,3.755759,-2.895448,-0.205102,0.962119,...,-0.041876,-0.160261,-0.316843,-0.183943,-0.199250,-0.02567,-0.168126,-0.101791,-0.039257,-0.030886
3,-0.109478,-0.051034,-0.047068,-0.303008,-0.629488,0.790448,-0.266258,0.345370,-0.205102,0.962119,...,-0.041876,-0.160261,-0.316843,-0.183943,5.018822,-0.02567,-0.168126,-0.101791,-0.039257,-0.030886
4,-0.109478,-0.051034,-0.047068,-0.303008,-0.629488,0.790448,-0.266258,0.345370,-0.205102,0.962119,...,-0.041876,-0.160261,-0.316843,-0.183943,-0.199250,-0.02567,-0.168126,-0.101791,-0.039257,-0.030886

In [172]:
#merge num and cat df's
df_scrub_drpd_scaled = pd.concat([df_scrub_drpd_nums_scaled, df_scrub_drpd_onehot_scaled], axis=1)
df_scrub_drpd_scaled.head()

,noteamount,LtvRatioPercent,CltvRatioPercent,LoanLevelCreditScoreValue,FinancedUnitCount,PricingCoupon,PricingPocPayup,NoteRate,NoteRate_RND,BidVolumeAll,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,1.544868,-0.041114,-0.056926,-0.308354,-0.116098,-0.338761,-0.29906,-0.111723,-0.113314,1.544868,...,-0.041876,-0.160261,-0.316843,-0.183943,5.018822,-0.02567,-0.168126,-0.101791,-0.039257,-0.030886
1,2.986025,0.243819,0.228415,0.650077,-0.116098,-0.338761,-0.29906,-0.111723,-0.113314,2.986025,...,-0.041876,-0.160261,-0.316843,-0.183943,5.018822,-0.02567,-0.168126,-0.101791,-0.039257,-0.030886
2,-1.170743,-2.082684,-2.101419,-0.542118,-0.116098,1.355727,-0.29906,0.685383,0.683574,-1.170743,...,-0.041876,-0.160261,-0.316843,-0.183943,-0.199250,-0.02567,-0.168126,-0.101791,-0.039257,-0.030886
3,1.369490,-0.769326,-0.786180,0.860465,-0.116098,-1.186004,-0.29906,-1.705937,-1.707088,1.369490,...,-0.041876,-0.160261,-0.316843,-0.183943,5.018822,-0.02567,-0.168126,-0.101791,-0.039257,-0.030886
4,-1.370957,1.187098,1.173045,-0.495365,-0.116098,0.932105,-0.29906,0.153979,0.152315,-1.370957,...,-0.041876,-0.160261,-0.316843,-0.183943,-0.199250,-0.02567,-0.168126,-0.101791,-0.039257,-0.030886

In [173]:
df_scrub_drpd_scaled.shape

(302190, 76)

In [ ]:
#perform logistic regression on train and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

In [177]:
#create correlation matrix
#have to define y for logistic regression